@import "tailwindcss";

 :root {
  --background: #FCFAFA;
  --foreground: #171717;
  --button: #A4B8C4;
  --button-border:#00000050;
  --silver: #C8D3D5;
  --jade-green: #0CCA4A;
  --destructive: #C12424;
  --destructive-hover: #DF5353;
} 

@theme inline {
  --color-background: var(--background);;
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --color-button-border:var(--button-border);
  --color-silver: var(--silver);
  --color-jade-green: var(--jade-green);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

 body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans)
}

main{
  padding: 2rem;
}

header{
  background: var(--silver);
}

/*
button{
  background: var(--button-color);
  border: solid 3px var(--button-border);
  transition: background 0.2s ease, transform 0.2s ease;

  cursor: pointer;

  padding: 0.5em 1em;

  text-transform: uppercase;
}

button:hover{
  background: var(--silver);
  transform: scale(1.1);
}

button.destructive{
  background: var(--destructive-color);
}

button.destructive:hover{
  background: var(--destructive-color-hover);
}

a.icon-link{
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--button-color);

  padding: 1em;

  border-radius: 50%;
  border: solid 3px var(--button-border);
} */

